<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tthome.visney.dao.NavigationMetaDao">

    <resultMap id="BaseResultMap" type="com.tthome.visney.entity.NavigationMeta">
        <result column="navigation_id" property="navigationId"/>
        <result column="navigation_name" property="navigationName"/>
        <result column="navigation_title" property="navigationTitle"/>
        <result column="navigation_description" property="navigationDescription"/>
        <result column="navigation_keyword" property="navigationKeyword"/>
    </resultMap>

    <select id="getNavigationMetaByNavigationId" resultMap="BaseResultMap">
    SELECT * FROM navigation_meta
    where navigation_id=#{navigationId}
  </select>
</mapper>